/* assets\css\main.css */
/* main.css - Estilos globales del prototipo */
/* main.css - Estilos globales del prototipo */
/* main.css - Estilos globales del prototipo */
/* main.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f9;
  }
  
  /* Leyenda AQI */
  .aqi-legend {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 3px;
    vertical-align: middle;
  }
  .bg-orange {
    background-color: #fd7e14 !important; /* color naranja */
  }
  